@font-face {
  font-family: "iconfont"; /* Project id 4757387 */
  src: url('iconfont.woff2?t=1757212025833') format('woff2'),
       url('iconfont.woff?t=1757212025833') format('woff'),
       url('iconfont.ttf?t=1757212025833') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo-github:before {
  content: "\e60b";
}

.icon-shezhi1:before {
  content: "\e781";
}

.icon-up:before {
  content: "\e88c";
}

.icon-up-copy:before {
  content: "\e88d";
}

.icon-blog:before {
  content: "\e600";
}

.icon-remenzhuanti:before {
  content: "\e6c9";
}

.icon-shanchu-copy:before {
  content: "\e6ca";
}

.icon-account:before {
  content: "\e672";
}

.icon-password:before {
  content: "\e65d";
}

