<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app"></div>

    <template id="my-app">
        <h2>电影列表</h2>
        <ul><li v-for="movie in movies">{{ movie.name }} - {{ movie.date }}</li></ul>
        <h2>电影列表</h2>
        <ul>
            <li v-for="(movie, index) in movies">{{ index+1 }} - {{ movie.name }} - {{ movie.date }}</li>
        </ul>

        <h2>个人信息</h2>~
        <ul><li v-for="v in info">{{ v }}</li></ul>
        <h2>个人信息</h2>
        <ul><li v-for="(v, k) in info">{{ k }}: {{ v }}</li></ul>
        <h2>个人信息</h2>
        <ul><li v-for="(v, k, i) in info">{{ i }}. {{ k }}: {{ v }}</li></ul>
        <h2>遍历数字</h2>
        <ul><li v-for="num in 10">{{ num }}</li></ul>
        <h2>遍历数字</h2>
        <ul><li v-for="(n, i) in 10">{{ i }}.{{ n }}</li></ul>
    </template>
    
    <script src="../js/vue.js"></script>
    <script>
        const App = {
            template: '#my-app',
            data() {
                return {
                    movies: [
                        {name:  "阿甘正传", date: 1994},
                        {name:  "泰坦尼克号", date: 1997},
                        {name:  "这个杀手不太冷", date: 1994},
                        {name:  "盗梦空间", date: 2010},
                        {name:  "楚门的世界", date: 1998},
                        {name:  "美丽心灵", date: 2001}
                    ],
                    info: {
                        name: '张三',
                        age: 18,
                        height: 188
                    }
                }
            }
        }

        Vue.createApp(App).mount('#app')
    </script>
</body>
</html>