<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app"></div>

    <template id="my-app">
        <h2>电影列表</h2>
        <ul>
            <li v-for="movie in movies">{{ movie }}</li>
        </ul>
        <button @click="movies[0] = '阿甘正传(修订版)'">修改第一部电影的名称</button>
        <input type="text" v-model="newMovie">
        <button @click="addMovie">添加电影</button>

    </template>
    
    <script src="../js/vue.js"></script>
    <script>
        const App = {
            template: '#my-app',
            data() {
                return {
                    newMovie: "",
                    movies: [
                        "阿甘正传",
                        "泰坦尼克号",
                        "这个杀手不太冷",
                        "盗梦空间",
                        "楚门的世界",
                        "美丽心灵"
                    ],
                }
            },
            methods: {
                addMovie() {
                    this.movies.push(this.newMovie)
                    this.newMovie = ""
                }
            },
        }

        Vue.createApp(App).mount('#app')
    </script>
</body>
</html>