<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app"></div>

    <template id="my-app">
      <ul>
        <!-- 有key效率更高 -->
        <li v-for="item in letters" :key="item">{{ item }}</li>
      </ul>
      <button @click="letters.splice(2, 0, 'F')">在第三个位置插入一个F</button>
      <ul>
        <li v-for="item in letters">{{ item }}</li>
      </ul>
      <button @click="letters.splice(2, 0, 'F')">在第三个位置插入一个F</button>
    </template>

    <script src="../js/vue.js"></script>
    <script>
      const App = {
        template: "#my-app",
        data() {
          return {
            letters: ["A", "B", "C", "D", "E"],
          };
        },
      };

      Vue.createApp(App).mount("#app");
    </script>
  </body>
</html>
